
#result {
    width: 1200px;
    height: 130px;
    font-size: 100px;
    background-color: white;
    margin: 30px auto ;
    text-align: center;
    border: 5px solid black ;
    transition: 0.5s ease-in-out
}

#button {
    font-size: 60px;
    background-color: brown;
    cursor: pointer;
    width: 350px;
    
}
.lottery {
    margin: 10px auto;
    padding: 80px ;
    text-align: center;
    

}
h1 {
    background-color: chocolate;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 100px;
}
body {
    background-color: white;
    margin: 0;
}


.status{
    display: inline-block;
    background-color: darkgreen;
    width: 400px;
    font-size: 30px;
    padding: 10px;
    margin: 10px 30px;
    text-align: center;
}

.statusBox {
    padding-left:0;
    text-align: center;
}

li {
    list-style: none;
}

.finalAccount {
    display: inline-block;
    background-color: darkgreen;
    color: white;
    width: 400px;
    font-size: 30px;
    padding: 10px;
    margin: 10px 30px;
    text-align: center;
}
.checkbox {
    float: right;
}

.rateBox {
    text-align: center;
}

a {
    font-size: 30px;
}

.link {
    margin: 50px;
    text-align: right;
}

/* バナー本体 */
.news-banner {
    display: block;
    height: 60px;
    width: 100%;
    background-color:aquamarine;
    overflow: hidden;
}


/* バナー内コンテンツ */
.news-banner__content {
    display: inline-block;
    color: black;
    line-height: 30px;
    padding-left: 100%;
    white-space: nowrap;
    font-size: 30px;
    animation: animate-banner 20s linear infinite;
}
.news-banner__content p {
    margin: 15px 0;
}
/* バナー内の要素をすべて選択 */
.news-banner__content > * {
    display: inline-block;
}

/* 横にスクロールさせるアニメーション */
@keyframes animate-banner {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0.5rem solid black;
    border-top-color: white;
    animation: spin 1s infinite linear;
    margin: 30px auto;

}

