
#result {
    width: 1200px;
    height: 130px;
    font-size: 100px;
    background-color: white;
    margin: 30px auto ;
    text-align: center;
    border: 5px solid black ;
}

#button {
    font-size: 60px;
    background-color: brown;
    
}
.lottery {
    margin: 10px auto;
    padding: 80px ;
    text-align: center;
    

}
h1 {
    background-color: chocolate;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 100px;
}
body {
    background-color: white;
    margin: 0;
}


.status{
    display: inline-block;
    background-color: darkgreen;
    width: 400px;
    font-size: 30px;
    padding: 10px;
    margin: 10px 30px;
    text-align: center;
}

.statusBox {
    padding-left:0;
    text-align: center;
}

li {
    list-style: none;
}

.finalAccount {
    display: inline-block;
    background-color: black;
    color: white;
    width: 400px;
    font-size: 30px;
    padding: 10px;
    margin: 10px 30px;
    text-align: center;
}
.checkbox {
    float: right;
}

.rateBox {
    text-align: center;
}

a {
    font-size: 30px;
}

.link {
    margin: 50px;
    text-align: right;
}
